<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <title>Đẹp Trai Làm Nên Thương Hiệu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="HomePageCss.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="pics/banger.png" type="image/gif" sizes="16x16"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
    </head>
    <body>

        
             
        <img src="pics/banner.PNG" >
              
        <div class="top-container">

            <div class="topnav">
                <a href="TrangChu">Trang Chủ</a>  
                
                <a href="showAboutPage">Giới Thiệu </a>  
                <a href="contactUs">Liên Hệ </a>  
                <div class="topnav-right">
                    <a class="active" href="logInView">Đăng Nhập</a>   
                    <a href="signUpView">Đăng Ký</a>  
                </div>    
            </div>  
            <div class="main">
                
                    
                    <br>
            
                    <hr>
                    <h2 class="gioithieu">Giới thiệu Trường Đại học Đông Á</h2>
                    <p>Đại học Đông Á là một trường đại học tư thục tại thành phố Đà Nẵng, Việt Nam, là một đại học đào tạo đa ngành. 

                        Trường đại học Đông Á phấn đấu trở thành đại học uy tín ở Việt Nam và châu Á về giá trị khoa học và đào tạo, đóng góp xuất sắc vào sự phát triển cộng đồng.
                        
                        Cơ sở chính tại 33 Xô Viết Nghệ Tĩnh - Đà Nẵng có tổng diện tích sàn 18.600m², 10 tầng với 140 phòng chức năng. Trong đó có: 10 phòng thực hành CNTT, 15 phòng thực hành ngoại ngữ, 24 phòng thực hành nghề nghiệp, thư viện điện tử, hội trường, 7 giảng đường lớn,...
                        
                        Phân hiệu Đại học Đông Á tại Đắk Lắk có tổng diện tích mặt bằng 10 ha, gồm 3 block nhà A, B, C đang vận hành với công năng 115 phòng học lý thuyết, 27 phòng thực hành chuyên môn, thư viện, hội trường lớn, khu thể thao đa năng cùng đầy đủ các phòng chức năng.</p>
                        
                </div>



                

            <div class="outbox">
            <footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="TrangChu">Trang Chủ</a>		
                    <a href="showAboutPage">Giới Thiệu</a>
					<a href="contactUs">Liên Hệ</a>
				</p>
				<p class="footer-company-name">TMS 2020</p>

			</div>

			<div class="footer-right">

				<form method="get" action="#">
					<input placeholder="Search our website" name="search" />
					<i class="fa fa-search"></i>
                                         
				</form>

			</div>

            </footer>
            </div>
        </div>
        
    </body>
</html>
