<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Classes Management System</h1>
		<hr>
		<h2>Update Classes</h2>

		<form action="#" th:action="@{/saveLopHoc}" th:object="${lopHoc}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{khoa}" />
			<input type="hidden" th:field="*{loaiBangCap}" />
			<input type="hidden" th:field="*{tenGiangVien}" />
			<input type="hidden" th:field="*{hocPhan}" />
			<input type="hidden" th:field="*{diaDiem}" />
			<input type="hidden" th:field="*{thoiGianKetThuc}" />
			
			<input type="text" th:field="*{ngay}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{thu}" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{thoiGianBatDau}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update lớp Hoc</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Classes List</a>
	</div>
</body>
</html>